body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBE9D7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  